options:
  hide_event_toc: False
  hide_mlh_toc: False
  min_resume_age: 18
custom_fields:
 - name: bus_registration
   label: 'Do you require bus transportation to the event? If so, select the route that would most suit you below'
   type: multiselect
   options:
    - "Route 1: Johns Hopkins University, University of Maryland at Baltimore County"
    - "Route 2: University of Virginia, Virginia Tech, Virginia Commonwealth University"
    - "Route 3:  Rutgers University, Temple University"
    - "Route 4: Stony Brook University, and New York University (Tandon Campus)"
    - "No, none of these bus routes work for me"
    - "No, I can provide my own transport"
 - name: emergency_contact_name
   label: 'Emergency Contact Name'
   required: True
 - name: emergency_contact_relationship
   label: "Emergency Contact's Relationship to You"
   required: True
 - name: emergency_contact_cell
   label: 'Emergency Contact Cell Number'
   required: True
   validate_regex: '\A[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}\z'
   validate_error: 'Not a valid phone number. Example: (123) 456 - 7890'
 - name: emergency_contact_work
   label: 'Emergency Contact Work Number'
   validate_regex: '\A[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}\z'
   validate_error: 'Not a valid phone number. Example: (123) 456 - 7890'
 - name: linkedin_url
   label: 'LinkedIn URL'
   validate_regex: '\A(https:\/\/)?(www.)?linkedin.com\/in\/\S+\z'
   validate_error: 'Your Linkedin URL is invalid. Example format: https://linkedin.com/in/yourprofile'
 - name: github_url
   label: 'GitHub URL'
   validate_regex: '\A(https:\/\/)?(www.)?github.com\/\S+\z'
   validate_error: 'Your Github URL is invalid. Example format: https://github.com/yourprofile'
 - name: other_url
   label: 'Other website URL'
 - name: been_to_hackathon
   label: 'Have you been to a hackathon before?'
   type: boolean
   required: True
   toggle_field: how_many_hackathons
 - name: how_many_hackathons
   label: "About how many hackathons have you attended?"
   type: select
   options:
    - 1
    - 2
    - 3
    - 4
    - 5 or more
   hidden: True
 - name: been_to_bitcamp
   label: 'Have you previously attended Bitcamp'
   type: boolean
   required: True
   toggle_field: previous_bitcamp_comments
 - name: previous_bitcamp_comments
   label: "Since you've attended Bitcamp before, is there anything new or different you'd like to see at Bitcamp 2020? What are you looking forward to the most?"
   type: textarea
   max_chars: 500
   hidden: True
 - name: why_bitcamp
   label: 'Why do you want to attend Bitcamp'
   type: textarea
   max_chars: 1000
   required: True
 - name: what_building_at_bitcamp
   label: 'What are you planning to build at Bitcamp'
   type: textarea
   max_chars: 500
 - name: programming_skills
   label: "Programming Skills (select all that apply, and if you don't know many that's okay!)"
   type: multiselect
   options:
    - HTML/CSS
    - Javascript/Node
    - PHP
    - SQL
    - Ruby
    - Java
    - Kotlin
    - Swift
    - Objective C
    - C/C++
    - C#
    - Python
    - AWS
 - name: hardware_skills
   label: 'Hardware Skills (select all that apply)'
   type: multiselect
   options:
    - Embedded Systems
    - Robotics
    - Wireless Communications
    - Circuits
    - 3D Printing
 - name: get_out_of_bitcamp   
   label: 'What would you like to get out of Bitcamp? (select all that apply)'
   type: multiselect
   options:
    - Learn basic programming skills
    - Learn more about hardware and hardware hacking
    - Learn more about web programming
    - Learn more about AI and machine learning
    - Learn more about iOS/Android app development
    - Learn more about Game Development (Unity)
    - Learn more about UI/UX design
    - Hack with people you know
    - Hack with people you don't know
    - Receive swag items from sponsors
    - Network with sponsors
 - name: how_did_you_hear
   label: 'How did you hear about Bitcamp'
   type: multiselect
   required: True
   options:
    - I previously attended Bitcamp
    - From the MLH website
    - From another MLH event
    - Word of mouth
    - From a teacher
    - From a friend
    - Social media
    - CS Department Listserv
    - Other
 - name: what_hardware
   label: 'What hardware do you want to see at Bitcamp'
   type: textarea
   max_chars: 500
 - name: personality_classroom
   label: "This year we are planning something special, so we'd like to know more about your personality. These questions have no right/wrong answers! Where do you tend to sit in the classroom?"
   type: select
   required: True
   options:
    - Back
    - Middle
    - Front
    - Do people even go to lectures?
 - name: personality_crowd
   label: 'In a crowd, how do you feel'
   type: select
   required: True
   options:
    - My personal bubble is at least 5 ft wide
    - I don't really care
    - Yay! People!
    - I'm a couch potato
 - name: personality_assignments
   label: 'When do you start assignments'
   type: select
   required: True
   options:
    - The minute the professor announces it in class
    - 2 days before it was assigned
    - Right before class starts
    - What's an assignment?
 - name: personality_icecream
   label: 'When you get icecream, what flavor do you pick'
   type: select
   required: True
   options:
    - The same thing I always get
    - The craziest, most colorful, flavor they have
    - Depends on my mood
    - New one every time
 - name: personality_hackathons
   label: 'What's your favorite thing about hackathons'
   type: select
   required: True
   options:
    - Hacking
    - Free stuff
    - Workshops
    - First hackathon, I'll find out!
  - name: age_confirm
    label: 'Because of limitations imposed by UMD, minors who are not current UMD students will have to attend the event via our minors program. For more information about our minors program, feel free to email minors@bit.camp. Checking the box below confirms that you are or will be 18 years or older by April 3rd, 2020, or are currently attending University of Maryland.'
    type: multiselect
    required: True
    options:
     - I am or will be 18 years or older by April 3, 2020 or currently attend University of Maryland
