<p><div class="text">Congratulations! You’ve been accepted!</div></p>
<p><div class="text">The event is from April 3rd - 5th at University of Maryland, College Park.  In order to participate, make sure to RSVP with the button below. If for any reason you can not attend, please let us know by clicking the button below.</div></p>
<p><div class="text">By RSVP-ing below, you are verifying that you will <b>definitely</b> be attending Bitcamp 2020. An accurate headcount is important for all the food, swag, and events we have planned for you.</div></p>
