<p><div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> happens at the XFinity Center at University of Maryland, College Park.</div></p>
<p><div class="text">For more information on getting there, please visit <a href='https://bit.camp/travel'>bit.camp/travel.</a></div></p>
<p><div class="text">If you have any questions, ask us know at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div></p>
<br>