<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <h3>Bus Transportation Details</h3>
        <p>
            We will have four bus routes this year going to various schools on the East Coast to help hackers get to Bitcamp. For more information on routes please see: <a href="https://bit.camp/travel">https://bit.camp/travel</a>. If you will be taking a bus to Bitcamp, please fill out this form: <a href="https://forms.gle/PGqGNuxhNr8b7Foq6">https://forms.gle/PGqGNuxhNr8b7Foq6</a>.  This year a $5 deposit is required for bus riders, and will be refunded upon arrival at Bitcamp. If you are a no-show to your bus, your $5 will NOT be returned to you.
        </p>
        <!--<a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=boston_bus" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>#Boston_bus</a>
        <br>
        <a href="https://<%= HackumassWeb::Application::SLACK_SUBDOMAIN %>.slack.com/app_redirect?channel=new_york_bus" target="_blank" class="btn btn-dark"><i class="fe fe-slack mr-2"></i>#New_York_bus</a>-->

    </div>
</div>
