.btn-bitcamp {
  background: #ff6f3f;
  color: white;
}

.bitcamp-orange {
  color: #ff6f3f;
}

.card-status.bg-success {
  background: #546b54 !important;
}

.card-status.bg-purple {
  background: #c53e3a !important;
}

.card-status.bg-blue {
  background: #36405f !important;
}

.card-status-left.bg-purple {
  background: #ff6f3f !important;
}
