I agree to the terms of both the <a href="https://goo.gl/jMXKsO">
MLH Contest Terms and Conditions </a> and the
<a href="https://mlh.io/privacy"> MLH Privacy Policy </a>.
Please note that you may receive pre and post-event
informational e-mails and occasional messages about hackathons
from MLH as per the MLH Privacy Policy. Also, by checking the box below
you agree to Bitcamp's <a href="http://bit.camp/legal/coc.pdf">
Code of Conduct</a> and <a href="http://bit.camp/legal/liability.pdf">
Liability Waiver</a>.